{% if site.google_cse.enable %}
<div  id="main" class="page">
  <!--Google Search Engine Embedded-->
  <div>
  <script>
  (function() {
    var cx = '{{ site.google_cse.cx }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
  </div>
<!--<div id='cse' style='width:100%;text-align:center'>{{ lang.search-load }}</div>-->
</div>

{% endif %}